* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #f4d04e;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 50px 5px 5px #121212;
}

.card-container {
  background-color: #ffffff;
  width: 90%;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px #000000;
  gap: 24px;
}

.card-img {
  width: 100%;
  border-radius: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn-learning:link,
.btn-learning:visited {
  text-decoration: none;
  background-color: #f4d04e;
  color: #000;
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

.published-date {
  font-size: clamp(12px, 3vw, 14px);
  line-height: 150%;
  font-weight: 500;
}

.card-title {
  font-weight: 800;
  font-size: clamp(20px, 5vw, 24px);
  line-height: 150%;
}

.card-discreption {
  font-size: clamp(14px, 4vw, 16px);
  line-height: 150%;
  font-weight: 500;
  color: #6b6b6b;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-image {
  width: 32px;
}

.author-name {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
}
