* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: #f4d04e;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  background-color: #ffffff;
  width: 384px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 24px;
  border-radius: 10px;
  gap: 24px;
}

.card-img {
  width: 100%;
  border-radius: 10px;
}

a:link,
a:visited {
  text-decoration: none;
  background-color: #f4d04e;
  color: #000;
  font-weight: bold;
  padding: 4px 12px;
  display: inline-flex;
  border-radius: 4px;
  margin-bottom: 12px;
}

div h2 {
  margin-bottom: 24px;
}

.greg-img {
  width: 32px;
}

.greg {
  display: flex;
  align-items: center;
  gap: 12px;
}
